.detalhes-filme {
  padding: 1rem; /* Espaçamento interno */
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 10 auto;
}

.conteudo-detalhes {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  flex-wrap: wrap; /* Permite que os elementos se ajustem em telas menores */
}

.poster img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
}

.informacoes {
  max-width: 600px;
  flex: 1; /* Permite que o texto ocupe o espaço disponível */
}

.informacoes h2 {
  font-size: 2rem;
  color: #45E32D; /* Verde destaque */
}

.informacoes p {
  margin: 0.5rem 0;
}

.botao-favoritos {
  background-color: #45E32D;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  margin-top: 1rem;
  transition: background-color 0.3s ease; /* Suaviza a mudança de cor */
}

.botao-favoritos:hover {
  background-color: #2eae59;
}

.elenco {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap; /* Permite que os cards do elenco se ajustem em telas menores */
  justify-content: center; /* Centraliza os cards do elenco */
}

.ator {
  text-align: center;
  max-width: 120px;
}

.ator img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.ator p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .conteudo-detalhes {
    flex-direction: column; /* Coloca a imagem e o texto em uma única coluna */
    align-items: center; /* Centraliza os elementos */
  }

  .poster img {
    width: 100%;
    max-width: 300px; /* Limita o tamanho da imagem em telas pequenas */
  }

  .informacoes {
    text-align: center; /* Centraliza o texto */
  }
}
