.perfil {
  padding: 2rem;
  color: #fff;
  background-color: #000;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #45E32D;
}

p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.acoes {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  background-color: #45E32D;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #2eae59;
}

.container-inputs {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.container-inputs input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: #0e0e0e;
  color: gray;
}

.excluir-conta {
  background-color: #e32d2d;
}

.excluir-conta:hover {
  background-color: #b32020;
}
