.pagina-registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000; /* Cor de fundo */
  color: #fff;
  font-family: Arial, sans-serif;
}

.registro-titulo {
  color: #45E32D;
  margin-bottom: 2rem;
}

.registro-form {
  background-color: #1c1c1c; /* Fundo do formulário */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.registro-campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.registro-campo label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.registro-campo input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #2e2e2e;
  color: #fff;
}

.registro-campo input:focus {
  outline: none;
  box-shadow: 0 0 5px #45E32D;
}

.registro-botao {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #45E32D;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.registro-botao:hover {
  background-color: #2eae59;
}

.registro-mensagem {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.registro-mensagem.success {
  color: green; /* Cor para mensagens de sucesso */
}

.registro-mensagem.error {
  color: red; /* Cor para mensagens de erro */
}
