.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1rem 2rem;
  color: #fff;
  flex-wrap: wrap;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #35d46a; /* Verde do botão Criar conta */
}

.navegacao a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.navegacao a:hover {
  color: #35d46a;
}

.acoes {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.acoes a {
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
}

.acoes .botao-conta {
  background-color: #35d46a;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.acoes .botao-conta:hover {
  background-color: #2eae59;
}

.acoes .icone-perfil {
  font-size: 1.2rem;
}

.acoes .icone-perfil i {
  color: #fff;
}

.acoes .icone-perfil:hover i {
  color: #35d46a;
}
